@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Syne+Mono&display=swap');

* {
  font-family: 'Space Mono', monospace;
  margin: 0;
}

body {
  color: hsl(0, 100%, 30%);
  background-color: hsl(0, 0%, 3%);
}

h1, h2, h3, h4, h5, h6 {
  color: hsl(0, 0%, 80%);
}

h3 {
  padding-bottom: 0.4rem;
}

ul {
  padding-left: 1em;
  list-style: none;
}

li {
  padding: 0;
  padding-bottom: 0.5em;
}

li:before {
  background-color: hsl(0, 100%, 30%);
  content: "\9609";
}

a:link {
  color: hsl(204, 100%, 70%);
}

a:visited {
  color: hsl(330, 100%, 60%);
}

.description > p:before {
  font-size: 1.3em;
  font-weight: bold;
  content: "\0024";

}

.container-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  row-gap: 2em;
  grid-template-areas: 
  "header header"
  "description description"
  "col1 col2";
  margin: 3em 10em;
}

.container-flex-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nick-title {
  font-family: 'Syne Mono', monospace;
}

.header-info {
  grid-area: header;
  justify-self: center;
}

.profile-image {
  position: relative;
  left: 5em;
  border: 0.4em solid hsl(0, 0%, 20%);
  border-radius: 50%;
  max-width: 50%;
  max-height: 50%;
  width: 20em;
}

.description {
  grid-area: description;
}

.description > p {
  padding-bottom: 1em;
}

.skills {
  grid-area: col1;
}

.education {
  grid-area: col2;
}

.contact {
  grid-area: col2;
}
